## Operating System

**Image**: {{ context.image }}

**os_name**: {{ context.os_name }}

**os_version_id**: {{ context.os_version_id }}

**os_id**: {{ context.os_id }}

## Environment Variables

```bash
{% for var in context.env_vars %}
{{ var }}
{% endfor %}
```

## Local Packages

```bash
{% for var in context.pkg_local %}
{{ var }}
{% endfor %}
```

## System Packages

```bash
{% for var in context.pkg_vars %}
{{ var }}
{% endfor %}
```


---

last_updated: {{ updated_at }}
