## docker-images

This repository contains Dockerfiles for building Docker images.

[https://gallery.ecr.aws/dev1-sg/](https://gallery.ecr.aws/dev1-sg/)


| # | Repository Name | Group | URI | Latest Tag | Image Size (MB)
|---|---|---|---|---|---
{% for item in items %}
| {{ item.number }} | [{{ item.name }}](https://gallery.ecr.aws/dev1-sg/{{ item.name }}) | {{ item.group }} | {{ item.uri }} | {{ item.latest_tag }} | {{ item.image_size_mb }}
{% endfor %}

---

last_updated: {{ updated_at }}
